data/
datasets/
output/
evaluation/
wandb/
pipeline_test/
__pycache__/     
**/*.pyc
**/*.log
**/*.pth
.vscode
**/*.swp
**/*.csv
**/*.pdf
**/*.pkl
**/*.json
**/*.jsonl
**/*.safetensors
**/*.ipynb
                                                                                                                                                                                                                                                   
~                    
